.bibliotecaContainer {
    background-color: rgba(235, 237, 239, 1);
    padding-top: 10vh;
}
.titleContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding-bottom: 1vh;
    margin-top: 5em;
}

.selectContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    padding-top: 1vh;
}

.selectButton1{
    height: auto;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton2{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton3{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton4{
    height: auto;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton5{
    height: auto;
    border-radius: 5px;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}

.SearchContainer{
    padding-top: 3vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
}

.searchInput{
    width: 20vw;
    height: 4vh;
}

.resultContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    flex-direction: column;
}
.site-card-border-less-wrapper{
    width: 100%;
    padding: 1vh;
    padding-bottom: 1vh;
}

.container-pagina{
    padding: 10em;
}
@media (min-width: 992px){
    .resultContainer{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }
}
.card-list{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 15px;
}
.card-list-body{
    padding: 1.25rem;
}

.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.lex-shrink-1{
    flex-shrink: 1;
}
.w-100{
    width: 100%;
}
li{
    margin: 0 !important;
    p{
        margin-bottom: 0;
    }
}
.badge{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-success{
    color: #fff;
    background-color: #28a745;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    &:hover{
        color: #000;
    }
}
.searchInput{
    border: 0;
    border-radius: 7px;
    padding: 15px 40px; 
}

@media (max-width: 768px){
    .bibliotecaContainer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bibliotecaContainer .titleContainer{
        text-align: center;
    }
    .selectContainer{
        width: 100%;
        overflow-x: auto;
        justify-content: start;
    }
    .SearchContainer{
        width: 100%;
    }
    .searchInput{
        width: 100%;
        margin-bottom: 15px;
    }
}