.menuTopContainer {
    position: fixed;
    z-index: 1;
    width: 100%;
    border: 1px solid white;
    border-bottom: 1px solid white;
}

//Ajustes Responsive
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
    border: 1px solid white;
}

@media (max-width: 600px) {
    
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
        margin-left: 8em;
    }

    .ant-divider-vertical{
        display: none;
    }
}

.ant-divider-vertical{
    margin: 0;
}
